/* Enter your custom styles here */

 .sapMFlexBoxBGTransparent {
    background-color: beige;
} 

 .sapUiBody {
    background-color: #94c3d8;
} 

/* .custHomePage{
    background-color : yellowgreen;
}  */